In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib. pyplot as plt

In [2]:
# reading the data

df = pd.read_csv('owid-covid-data1.csv')
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-19,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-02,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276950,ZWE,Africa,Zimbabwe,2023-12-17,266025.0,50.0,25.429,5730.0,0.0,1.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276951,ZWE,Africa,Zimbabwe,2023-12-24,266048.0,23.0,24.000,5731.0,1.0,1.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276952,ZWE,Africa,Zimbabwe,2023-12-31,265929.0,NaN,NaN,5724.0,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276953,ZWE,Africa,Zimbabwe,2024-01-07,265975.0,46.0,23.857,5727.0,3.0,1.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276954,ZWE,Africa,Zimbabwe,2024-01-14,265975.0,0.0,17.000,5727.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [3]:

# to get the columns and rows
df.shape

(276955, 67)

In [4]:
# checking the information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276955 entries, 0 to 276954
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    276955 non-null  object
 1   continent                                   262886 non-null  object
 2   location                                    276955 non-null  object
 3   date                                        276955 non-null  object
 4   total_cases                                 47775 non-null   float64
 5   new_cases                                   51838 non-null   float64
 6   new_cases_smoothed                          50608 non-null   float64
 7   total_deaths                                44649 non-null   float64
 8   new_deaths                                  51859 non-null   float64
 9   new_deaths_smoothed                         50629 non-null   float64
 10  total_cases_per_million                     47775 non-null   float64
 11  new_cases_per_million                       51838 non-null   float64
 12  new_cases_smoothed_per_million              50608 non-null   float64
 13  total_deaths_per_million                    44649 non-null   float64
 14  new_deaths_per_million                      51859 non-null   float64
 15  new_deaths_smoothed_per_million             50629 non-null   float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                38224 non-null   float64
 18  icu_patients_per_million                    38224 non-null   float64
 19  hosp_patients                               39718 non-null   float64
 20  hosp_patients_per_million                   39718 non-null   float64
 21  weekly_icu_admissions                       10463 non-null   float64
 22  weekly_icu_admissions_per_million           10463 non-null   float64
 23  weekly_hosp_admissions                      23815 non-null   float64
 24  weekly_hosp_admissions_per_million          23815 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          81058 non-null   float64
 35  people_vaccinated                           77579 non-null   float64
 36  people_fully_vaccinated                     74310 non-null   float64
 37  total_boosters                              49198 non-null   float64
 38  new_vaccinations                            66983 non-null   float64
 39  new_vaccinations_smoothed                   185352 non-null  float64
 40  total_vaccinations_per_hundred              81058 non-null   float64
 41  people_vaccinated_per_hundred               77579 non-null   float64
 42  people_fully_vaccinated_per_hundred         74310 non-null   float64
 43  total_boosters_per_hundred                  49198 non-null   float64
 44  new_vaccinations_smoothed_per_million       185352 non-null  float64
 45  new_people_vaccinated_smoothed              185043 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  185043 non-null  float64
 47  stringency_index                            180902 non-null  float64
 48  population_density                          245295 non-null  float64
 49  median_age                                  232318 non-null  float64
 50  aged_65_older                               228796 non-null  float64
 51  aged_70_older                               230863 non-null  float64
 52  gdp_per_capita                              229912 non-null  float64
 53  extreme_poverty                             152908 non-null  float64
 54  cardiovasc_death_rate                       230347 non-null  float64
 55  diabetes_prevalence                         239848 non-null  float64
 56  female_smokers                              178286 non-null  float64
 57  male_smokers                                175701 non-null  float64
 58  handwashing_facilities                      113710 non-null  float64
 59  hospital_beds_per_thousand                  205576 non-null  float64
 60  life_expectancy                             254914 non-null  float64
 61  human_development_index                     225825 non-null  float64
 62  population                                  276955 non-null  float64
 63  excess_mortality_cumulative_absolute        11883 non-null   float64
 64  excess_mortality_cumulative                 11883 non-null   float64
 65  excess_mortality                            11883 non-null   float64
 66  excess_mortality_cumulative_per_million     11883 non-null   float64
dtypes: float64(62), object(5)
memory usage: 141.6+ MB

In [5]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,4.777500e+04,5.183800e+04,5.060800e+04,4.464900e+04,51859.000000,50629.000000,47775.000000,51838.000000,50608.000000,44649.00000,...,175701.000000,113710.000000,205576.000000,254914.000000,225825.000000,2.769550e+05,1.188300e+04,11883.000000,11883.000000,11883.000000
mean,7.134356e+06,6.329397e+04,6.477504e+04,8.851034e+04,562.765132,576.089233,108530.652171,960.893287,982.152493,901.47401,...,32.747286,50.319837,3.083945,73.427236,0.725758,1.483686e+08,5.372366e+04,9.953471,11.659345,1698.215765
std,4.283082e+07,6.431389e+05,5.334444e+05,4.505970e+05,3801.652204,3756.001062,156968.771033,4063.623883,3050.469451,1120.54012,...,13.467839,31.779675,2.526629,7.552604,0.151572,7.289301e+08,1.499749e+05,12.287744,25.328344,1931.682528
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2424.691400
25%,8.989500e+03,1.000000e+00,6.143000e+00,1.320000e+02,0.000000,0.000000,2791.082500,0.030000,1.906000,64.16000,...,21.600000,19.351000,1.300000,68.190000,0.602000,1.531043e+06,1.609000e+02,1.730000,-1.410000,103.137985
50%,7.519400e+04,1.380000e+02,2.035710e+02,1.364000e+03,1.000000,1.429000,31525.510000,35.046000,60.541000,393.84500,...,31.400000,49.542000,2.500000,74.990000,0.743000,8.939617e+06,6.462800e+03,8.170000,5.890000,1150.095200
75%,8.272305e+05,3.044750e+03,3.623536e+03,1.215600e+04,30.000000,36.571000,149733.453500,512.620250,637.463500,1431.42300,...,41.100000,82.502000,4.210000,78.930000,0.848000,3.462765e+07,3.835915e+04,15.485000,16.635000,2762.874900
max,7.741444e+08,4.423623e+07,1.899102e+07,7.013140e+06,103719.000000,93583.286000,754047.866000,240325.866000,71483.706000,6507.65600,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.289776e+06,76.620000,377.630000,10292.916000

In [6]:
# checking for missing values
df.isnull().sum().sort_values(ascending = False)

weekly_icu_admissions_per_million          266492
weekly_icu_admissions                      266492
excess_mortality_cumulative_per_million    265072
excess_mortality_cumulative_absolute       265072
excess_mortality                           265072
                                            ...
continent                                   14069
population                                      0
date                                            0
location                                        0
iso_code                                        0
Length: 67, dtype: int64

In [7]:
# checking for countries
df['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low income', 'Lower middle income', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [8]:
#removing invalid countries
# sign ~ is to get the oposite of what you are looking for
data = df.copy()
locations_to_exclude = ['Africa', 'Upper middle income', 'lower income', 'World', 'Lower middle income',
                      'Low income', 'High income']
df = df[~df['location'].isin(locations_to_exclude)]
df['location'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'European Union', 'Faeroe Islands', 'Falkland Islands',
       'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam',
       'Wales', 'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [9]:
# another wey to do it is
# df = df.drop(df[df['location'].isin(location_to_exclude)]. index)

In [10]:
# checking recent cases
most_recent = df.sort_values('date', ascending = False). reset_index()
most_recent

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,14592,OWID_ASI,NaN,Asia,2024-01-25,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.721383e+09,NaN,NaN,NaN,NaN
1,37773,BGR,Europe,Bulgaria,2024-01-25,NaN,NaN,NaN,NaN,NaN,...,44.4,NaN,7.454,75.05,0.816,6.781955e+06,NaN,NaN,NaN,NaN
2,150418,MYS,Asia,Malaysia,2024-01-25,NaN,NaN,NaN,NaN,NaN,...,42.4,NaN,1.900,76.16,0.810,3.393822e+07,NaN,NaN,NaN,NaN
3,238713,SWE,Europe,Sweden,2024-01-25,NaN,NaN,NaN,NaN,NaN,...,18.9,NaN,2.220,82.80,0.945,1.054935e+07,NaN,NaN,NaN,NaN
4,83185,OWID_EUN,NaN,European Union,2024-01-25,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.501468e+08,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269748,9468,ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
269749,157846,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,...,21.4,87.847,1.380,75.05,0.779,1.275041e+08,NaN,NaN,NaN,NaN
269750,9467,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
269751,9466,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
269752,157845,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,...,21.4,87.847,1.380,75.05,0.779,1.275041e+08,NaN,NaN,NaN,NaN

In [11]:
# show each countries and total cases, new case and new death
cases_per_country = df.groupby(['location'])[['total_cases', 'new_cases']].sum()
cases_per_country

                   total_cases  new_cases
location
Afghanistan         28558895.0   230826.0
Albania             41376714.0   334596.0
Algeria             38262755.0   272010.0
American Samoa        749622.0     8359.0
Andorra              5653998.0    48015.0
...                        ...        ...
Wallis and Futuna     270950.0     3550.0
Western Sahara             0.0        0.0
Yemen                1660017.0    11945.0
Zambia              43538763.0   349304.0
Zimbabwe            31946320.0   266095.0

[249 rows x 2 columns]

In [12]:
type(df['date'][0])

str

In [13]:
#  converting date to timestramps.
df['date'] = pd.to_datetime(df['date'])
df

C:\Users\CHIKA ONWUKA\AppData\Local\Temp\ipykernel_9540\3315664048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-19,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-02,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276950,ZWE,Africa,Zimbabwe,2023-12-17,266025.0,50.0,25.429,5730.0,0.0,1.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276951,ZWE,Africa,Zimbabwe,2023-12-24,266048.0,23.0,24.000,5731.0,1.0,1.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276952,ZWE,Africa,Zimbabwe,2023-12-31,265929.0,NaN,NaN,5724.0,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276953,ZWE,Africa,Zimbabwe,2024-01-07,265975.0,46.0,23.857,5727.0,3.0,1.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
276954,ZWE,Africa,Zimbabwe,2024-01-14,265975.0,0.0,17.000,5727.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [14]:
type(df['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
# to format the date
df['date'] = df['date'].dt.strftime('%Y/%m/%d')
type(df['date'][0])

C:\Users\CHIKA ONWUKA\AppData\Local\Temp\ipykernel_9540\2094927335.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].dt.strftime('%Y/%m/%d')

str

In [16]:
df = df.set_index('date')
df

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2020/01/05,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020/01/12,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020/01/19,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020/01/26,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020/02/02,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/12/17,ZWE,Africa,Zimbabwe,266025.0,50.0,25.429,5730.0,0.0,1.286,16300.013,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2023/12/24,ZWE,Africa,Zimbabwe,266048.0,23.0,24.000,5731.0,1.0,1.286,16301.422,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2023/12/31,ZWE,Africa,Zimbabwe,265929.0,NaN,NaN,5724.0,NaN,NaN,16294.131,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2024/01/07,ZWE,Africa,Zimbabwe,265975.0,46.0,23.857,5727.0,3.0,1.000,16296.950,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2024/01/14,ZWE,Africa,Zimbabwe,265975.0,0.0,17.000,5727.0,0.0,0.571,16296.950,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [17]:
# creating pivot table
florish = pd.pivot_table(df,values= 'total_cases', index=['location'], columns= 'date'). reset_index()
florish

date,location,2020/01/05,2020/01/12,2020/01/19,2020/01/26,2020/02/02,2020/02/09,2020/02/16,2020/02/23,2020/03/01,...,2023/11/12,2023/11/19,2023/11/26,2023/12/03,2023/12/10,2023/12/17,2023/12/24,2023/12/31,2024/01/07,2024/01/14
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,228263.0,228695.0,228975.0,229263.0,229367.0,229703.0,230075.0,230375.0,230623.0,230826.0
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,334270.0,334331.0,334408.0,334450.0,334506.0,334555.0,334596.0,334596.0,334596.0,334596.0
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,271966.0,271978.0,271991.0,272010.0,272010.0,272010.0,272010.0,271958.0,271958.0,271958.0
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Vietnam,NaN,NaN,NaN,2.0,6.0,13.0,16.0,16.0,16.0,...,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0
234,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0
235,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0
236,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,349301.0,349302.0,349302.0,349304.0,349304.0,349304.0,349304.0,349289.0,349289.0,349289.0
237,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,265903.0,265927.0,265975.0,265975.0,265975.0,266025.0,266048.0,265929.0,265975.0,265975.0

In [18]:
# replacing missing values
florish = florish.fillna(0)
florish

date,location,2020/01/05,2020/01/12,2020/01/19,2020/01/26,2020/02/02,2020/02/09,2020/02/16,2020/02/23,2020/03/01,...,2023/11/12,2023/11/19,2023/11/26,2023/12/03,2023/12/10,2023/12/17,2023/12/24,2023/12/31,2024/01/07,2024/01/14
0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,228263.0,228695.0,228975.0,229263.0,229367.0,229703.0,230075.0,230375.0,230623.0,230826.0
1,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,334270.0,334331.0,334408.0,334450.0,334506.0,334555.0,334596.0,334596.0,334596.0,334596.0
2,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,271966.0,271978.0,271991.0,272010.0,272010.0,272010.0,272010.0,271958.0,271958.0,271958.0
3,American Samoa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0
4,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Vietnam,0.0,0.0,0.0,2.0,6.0,13.0,16.0,16.0,16.0,...,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0
234,Wallis and Futuna,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0
235,Yemen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0
236,Zambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,349301.0,349302.0,349302.0,349304.0,349304.0,349304.0,349304.0,349289.0,349289.0,349289.0
237,Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,265903.0,265927.0,265975.0,265975.0,265975.0,266025.0,266048.0,265929.0,265975.0,265975.0

In [19]:
# bring in the flags

flags = pd.read_csv('https://github.com/waleolajumoke/data/raw/main/flags_world.csv')
flags

          country                                          Image URL
0     Afghanistan  https://upload.wikimedia.org/wikipedia/commons...
1          Angola  https://cdn.countryflags.com/thumbs/angola/fla...
2         Albania  https://cdn.countryflags.com/thumbs/albania/fl...
3         Andorra  https://cdn.countryflags.com/thumbs/andorra/fl...
4       Argentina  https://cdn.countryflags.com/thumbs/argentina/...
..            ...                                                ...
203        Kosovo  https://cdn.countryflags.com/thumbs/kosovo/fla...
204   Yemen, Rep.       https://flagpedia.net/data/flags/w580/ye.png
205  South Africa  https://cdn.countryflags.com/thumbs/south-afri...
206        Zambia  https://cdn.countryflags.com/thumbs/zambia/fla...
207      Zimbabwe  https://cdn.countryflags.com/thumbs/zimbabwe/f...

[208 rows x 2 columns]

In [20]:
# combinning flag and our data together
florish = pd.merge(florish, flags, left_on ='location', right_on ='country')
florish.head()

,location,2020/01/05,2020/01/12,2020/01/19,2020/01/26,2020/02/02,2020/02/09,2020/02/16,2020/02/23,2020/03/01,...,2023/11/26,2023/12/03,2023/12/10,2023/12/17,2023/12/24,2023/12/31,2024/01/07,2024/01/14,country,Image URL
0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,228975.0,229263.0,229367.0,229703.0,230075.0,230375.0,230623.0,230826.0,Afghanistan,https://upload.wikimedia.org/wikipedia/commons...
1,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,334408.0,334450.0,334506.0,334555.0,334596.0,334596.0,334596.0,334596.0,Albania,https://cdn.countryflags.com/thumbs/albania/fl...
2,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,271991.0,272010.0,272010.0,272010.0,272010.0,271958.0,271958.0,271958.0,Algeria,https://cdn.countryflags.com/thumbs/algeria/fl...
3,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,Andorra,https://cdn.countryflags.com/thumbs/andorra/fl...
4,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,106124.0,106216.0,106303.0,106348.0,106720.0,106720.0,106720.0,106720.0,Angola,https://cdn.countryflags.com/thumbs/angola/fla...

In [21]:
# cleaning up data
del florish ['country']
img = florish['Image URL']
del florish['Image URL']
florish.insert(1, 'flags',img)
florish

,location,flags,2020/01/05,2020/01/12,2020/01/19,2020/01/26,2020/02/02,2020/02/09,2020/02/16,2020/02/23,...,2023/11/12,2023/11/19,2023/11/26,2023/12/03,2023/12/10,2023/12/17,2023/12/24,2023/12/31,2024/01/07,2024/01/14
0,Afghanistan,https://upload.wikimedia.org/wikipedia/commons...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,228263.0,228695.0,228975.0,229263.0,229367.0,229703.0,230075.0,230375.0,230623.0,230826.0
1,Albania,https://cdn.countryflags.com/thumbs/albania/fl...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,334270.0,334331.0,334408.0,334450.0,334506.0,334555.0,334596.0,334596.0,334596.0,334596.0
2,Algeria,https://cdn.countryflags.com/thumbs/algeria/fl...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,271966.0,271978.0,271991.0,272010.0,272010.0,272010.0,272010.0,271958.0,271958.0,271958.0
3,Andorra,https://cdn.countryflags.com/thumbs/andorra/fl...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0
4,Angola,https://cdn.countryflags.com/thumbs/angola/fla...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,105987.0,106002.0,106124.0,106216.0,106303.0,106348.0,106720.0,106720.0,106720.0,106720.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Uzbekistan,https://cdn.countryflags.com/thumbs/uzbekistan...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,174692.0,174814.0,174916.0,174998.0,175081.0,175081.0,175081.0,175081.0,175081.0,175081.0
176,Vanuatu,https://upload.wikimedia.org/wikipedia/commons...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12019.0,12019.0,12019.0,12019.0,12019.0,12019.0,12019.0,12019.0,12019.0,12019.0
177,Vietnam,https://cdn.countryflags.com/thumbs/vietnam/fl...,0.0,0.0,0.0,2.0,6.0,13.0,16.0,16.0,...,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0
178,Zambia,https://cdn.countryflags.com/thumbs/zambia/fla...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,349301.0,349302.0,349302.0,349304.0,349304.0,349304.0,349304.0,349289.0,349289.0,349289.0
179,Zimbabwe,https://cdn.countryflags.com/thumbs/zimbabwe/f...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,265903.0,265927.0,265975.0,265975.0,265975.0,266025.0,266048.0,265929.0,265975.0,265975.0

In [23]:
# saving the final data
florish.to_csv('florish_final_data.csv')